.modern-pagination .pagination-control {
    -fx-background-color: transparent;
}

.modern-pagination .pagination-control .button {
    -fx-background-color: #e5e7eb;
    -fx-background-radius: 4;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

.modern-pagination .pagination-control .button:hover {
    -fx-background-color: #d1d5db;
}

.modern-pagination .pagination-control .button:selected {
    -fx-background-color: #4f46e5;
    -fx-text-fill: white;
}

.modern-pagination .pagination-control .left-arrow,
.modern-pagination .pagination-control .right-arrow {
    -fx-background-color: #4f46e5;
}